* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --dark-color: #000000;
    --selection-color: #9197B3;
    --accent-color: #5932EA;
    --color-light: #FFF;
    --bg-main: #FAFBFF;
    --bg-content: #FFF;
    --color-green: #16C098;
    --bg-inactive:  #FFC5C5;
    --bg-green: rgba(22, 192, 152, 0.38);
    --border-inactive: #DF0404;
    --border-active: #00B087;
}

body {
     background: var(--bg-main);
}

.container {
    max-width: 1440px;    
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;   
    display: flex;

}
ul {
    list-style: none;
}

.menu {
    max-width: 306px;
    width: 100%;   
    padding: 37px 28px 76px;
    background: var(--bg-content);
    display: flex;
    flex-direction: column;    
}

h1 {
    display: flex;
    align-items: stretch;
    gap: 8px;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px; 
    color: var(--dark-color);
    margin-bottom: 42px;
}

.version {
    font-size: 10px;
    align-self: center;
}

.arrow__mobile-menu {
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
    margin-bottom: 50px;
}

.arrow__mobile-menu img{
    width: 48px;
    height: 48px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 15px;   
    width: 100%;
}

.menu__item {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    padding: 13px 8px 12px 11px;
    gap: 20px;
    font-size: 14px;   
    font-weight: 400;    
    letter-spacing: -0.14px;
    color: var(--selection-color);
    box-sizing: border-box;
    transition: all 0.4s;
}

.menu__item a {
    text-decoration: none;
    font-size: 14px;   
    font-weight: 400;    
    letter-spacing: -0.14px;
    color: var(--selection-color);
}

.menu__item:hover {
    background: #e6e1f6;
    border-radius: 8px;  
}

.item__content {
    display: flex;
    align-items: center;
    gap: 14px;
}

.item__active {
    background: var(--accent-color);
    border-radius: 8px;
    font-weight: 500;   
}

.item__active a {
    color: var(--color-light);
}

.user {
    margin-top: auto;
    display: flex;
    gap: 13px;
}

.user__info {
    color: var(--dark-color);    
    font-size: 14px;    
    font-weight: 400;    
    letter-spacing: 0.14px;
}

.user__post {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
}

@media screen and (max-width: 900px) {
    .container {
        max-width: 900px;
    }
    .menu {
        max-width: 100px;
    }
    .arrow {
        display: none;
    }

    .item__content a {
        display: none;
    }
    h1 {
       opacity: 0;
       visibility: hidden;
       position: absolute;
    }
    .user {
        flex-direction: column;
    }

    .arrow__mobile-menu {
        opacity: 1;
        visibility: visible;
        position: static;
    }
}

/* right part */

.customers {
    max-width: 1134px;
    width: 100%;
    padding: 41px 95px 258px 72px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    color: var(--dark-color);
    margin-bottom: 51px;
}

.customers__container {
    max-width: 967px;
    width: 100%;
    padding: 32px 40px 40px 36px;
    background: var(--bg-content);    
    border-radius: 30px;
    display: block;
    display: flex;
    flex-direction: column;
}

.customers__info {
    display: flex;
    max-width: 967px;
    justify-content: space-between;
    align-items: center; 
    padding-right: 14px;
    padding-left: 2px;   
    margin-bottom: 38px;
    gap: 20px;
}

.info__title {
    font-size: 22px;
    font-weight: 600;
    /* letter-spacing: -0.22px; */
    color: var(--dark-color);
    margin-bottom: 8px;
}

.info__subtitle {
    font-size: 14px;
    color: var(--color-green);
    letter-spacing: -0.14px;
}

.info__search {
    display: flex;
    align-items: center;
    width: 216px;
    height: 38px;
    border-radius: 10px;
    background: var(--bg-main);
    padding-left: 10px;
    gap: 8px;
}

.info__search input {
    width: 70%;
    outline: none;
    border: none;
    background: var(--bg-main);
    font-size: 12px;
    font-family: inherit;
    padding-top: 2px;
}

.table__container {
    max-width: 891px;    
}
.table__responsive {
    overflow-x: auto;     
}

table {
    font-size: 13px;
    font-weight: 500;    
    width: 100%;  
    white-space: nowrap;
}


th {    
    padding-bottom: 13px;
    border-bottom: 1px solid #EEE;
    text-align: left;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #B5B7C0;
}
td {    
    padding-top: 17px;
    padding-bottom: 18px;
    text-align: left;
    letter-spacing: 0.5px;
    color: #292D32;
     border-bottom: 1px solid #EEE;
}


.table__name {   
    padding-right: 53px;
}
.table__company {   
     padding-right: 61px;
}
.table__phone {   
    padding-right: 46px;
    letter-spacing: 0.9px;   
}   
.table__mail {   
    padding-right: 39px;
    letter-spacing: 0.4px;   
}
.table__country {    
    padding-right: 45px;
    letter-spacing: 0.6px;    
}
.table__status {    
    letter-spacing: 1.2px;
    text-align: center;   
}

.btn {
    padding: 4px 10px 4px 11px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.14px;
    
}

.btn-active {
    background: var(--bg-green);
    border: 1px solid var(--border-active);
    color: #008767; 
      
}

.btn-inactive {
    background: var(--bg-inactive);
    border: 1px solid var(--border-inactive);
    color: var(--border-inactive);
}


@media screen and (max-width: 1100px) {
    .container {
        max-width: 1100px;  
    }
        
    .customers {
         padding: 41px 65px 258px 65px;
    }
    tr, th, td {
        display: block;
        text-align: center;
        padding-right: 0;
    }
    th {
        display: none;
    }
    th.table__status {
        display: none;
    }
    .table__status {
        display: inline-flex;
        margin: 0 auto;
    }
    .table__name, 
    .table__company, 
    .table__country, 
    .table__mail, 
    .table__phone {
        padding-right: 0;
    }

    .table__name {
        background: var(--bg-main);
        font-weight: 600;
    }

    .data__display {
        flex-direction: column;
        gap: 20px;
    }
}
/* controlls */

.data__display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
   
}

.display__info {
    color: #B5B7C0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.14px;
}

.display__controls {
    display: flex;
    gap: 12px;
}

.control {
    border-radius: 4px;
    border: 1px solid #EEE;
    background: #F5F5F5;
    padding: 6px 9px;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;     
}

.control__decimal {
    padding: 6px 5px;
}

.control__space {
    font-size: 12px;
    font-weight: 500;
    line-height: 100%; /* 12px */
    letter-spacing: -0.12px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
}

.control__active {
    border: 1px solid #5932EA;  
    background: #5932EA;
    color: var(--color-light);
}